#education {
    margin: 0 auto;
    min-height:calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.educationTitle {
    margin: 1rem 0;
    font-size: 3rem;
    max-width: 45rem;
}

.educationDesc {
    font-weight: 300;
    font-size: 1rem;
}

.vertical-timeline-element--education .vertical-timeline-element-content{
    background: #f9f9f9; /* Light background for the content */
    color: #333; /* Dark text for contrast */
    padding: 15px; /* Comfortable padding around the content */
    border-radius: 4px; /* Rounded corners for a modern look */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.vertical-timeline-element--education .vertical-timeline-element-content::before {
    border-right: 7px solid #f0f0f0; /* Match the arrow to the box's background */
}

/* Styles for the information box to the right */
.educationBox {
    padding: 20px; /* Adds padding inside the info box */
    display: flex;
    flex-direction: column;
    text-align: left;
}

  
.vertical-timeline-element--education .vertical-timeline-element-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
}
.vertical-timeline-element--education .vertical-timeline-element-icon img {
    width: 2.5rem; /* Use auto to maintain the aspect ratio */
    height: 2.5rem;
    object-fit: contain; /* Set height to 100% of the parent container */
}
.vertical-timeline-element--education .vertical-timeline-element-date {
    color: #333; /* Or any other color that fits the design */
    font-size: 1rem;
    align-self: end;
    text-align: initial;
}

.vertical-timeline-element--education h3 {
    margin-top: 0; /* Remove top margin for better alignment */
    font-size: 1.25rem; /* Adjust font size as needed */
}

.vertical-timeline-element--education h4 {
    margin-bottom: 10px; /* Add some space below the subtitle */
    font-size: 1rem;
}


@media screen and (max-width:585px){

    .experienceBox{
        width: 100%;
    }
}
