*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
}

body {
    background: #fdf7f2;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
    
}