*, *::before, *::after {
    box-sizing: border-box;
}

#intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 90vh; /* This will make your intro section at least the height of the viewport */
    padding: 20px;
    max-width: 1350px;
    margin: auto; 
}


.slide-container {
    flex: 1 1 50%; /* This will allow the slide show to take up half the width */
    max-width: 50%; /* Assign a maximum width to match the design */
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
  
.each-slide-effect{
  width: 100%; /* You may adjust this as needed */
  position: relative;
}

.image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    width: 100%; /* Take up full width of its parent */
    height: auto; /* Height should adjust to the content */
}

.project-image {
    max-width: 100%;
    max-height: 400px; /* Or any other max-height you prefer */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Keeps the image within bounds without cropping */
    margin: 0 auto; /* Center the image horizontally if it's not filling its container */
    display: block; /* Treat the image as a block-level element, enabling margin auto */
}


.introbox{
    flex-basis: 50%; /* Adjust the width as needed */
    text-align: left; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    padding: 20px; /* Add some padding */
    align-items: center;
}
.introContent{
    height: 50vh;
    padding-right: 5rem;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #65793C;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 375px;
}
.btnBox{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}
.btn {
    background: #846d62;
    color: white;
    margin: 0rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-family: 'Playfair Display', sans-serif;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

/*adjust for the picture*/
@media screen and (max-width:1000px){
    #intro {
        flex-direction: column; /* Stack flex items vertically on smaller screens */
        align-items: center; /* Center align the flex items */
    }
    .slide-container, .introbox {
        flex-basis: auto; /* Allow the items to size based on their content */
        max-width: 100%; /* Use the full width */
        margin-top: 20px; /* Add some space between the items */
    }
    .introContent{
        position: relative; /* Adjust position to default flow or consider altering its design */
        padding: 4vw;
        height: auto;
    }
    .hello{
        font-size: 4.5vw;
    }
    .btnBox{
        align-self: left;
    }
    .btn{
        padding: 1vw 2.5vw;
        font-size: 3vw;
        
    }
    .btnImg{
        height: 3vw;
    }
}
@media screen and (max-width:600px){
    .btn{
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }
    .btnImg{
        height: 1rem;
    }
}