#experience {
    margin: 1rem auto;
    min-height:calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 50%;
    min-width: 50%;
    flex: 1;
}

.experienceTitle {
    margin: 1rem 0;
    font-size: 3rem;
    max-width: 45rem;
    padding-top: 3rem;
}

.experienceDesc {
    font-weight: 300;
    font-size: 1rem;
}

.vertical-timeline-element--experience .vertical-timeline-element-content {
    background: #f9f9f9; /* Light background for the content */
    color: #333; /* Dark text for contrast */
    padding: 25px 25px 0 25px; /* Comfortable padding around the content */
    border-radius: 4px; /* Rounded corners for a modern look */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.vertical-timeline-element--experience .vertical-timeline-element-content::before {
    border-right: 7px solid #f0f0f0; /* Match the arrow to the box's background */
}

.experienceBox {
    padding: 25px;
    background: #ffffff; /* Consider a soft gradient or a very light grey to add depth */
    border: 2px solid #846D62; /* A colored border to signify the timeline and add a pop of color */
    border-radius: 6px; /* Smooth out the corners for a softer look */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); /* A subtle shadow for a 'floating' effect */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    overflow: hidden; /* Ensures nothing spills out */
}

.vertical-timeline-element--experience .vertical-timeline-element-date {
    color: #333; /* Or any other color that fits the design */
    font-size: 1rem;
}
.vertical-timeline-element--experience h3,
.vertical-timeline-element--experience h4,
.vertical-timeline-element--experience p {
    font-family: 'Nunito', sans-serif; /* A modern, rounded font that's very readable */
    color: #333;
    line-height: 1.5; /* More readable line height */
}

.vertical-timeline-element--experience h3 {
    font-size: 1.5rem;
    font-weight: 700; /* More emphasis on the job title/company name */
    margin-bottom: 0.5rem; /* Space between the company name and the job title */
}

.vertical-timeline-element--experience h4 {
    font-size: 1.2rem;
    font-weight: 400; /* Less emphasis on the job title */
    color: #846D62; /* Use the accent color to make the job title stand out */
    margin-bottom: 1rem; /* More space above the job description */
}

.vertical-timeline-element--experience p {
    font-size: 1rem;
    margin-bottom: 0.75rem; /* Consistent spacing between paragraphs */
}

.vertical-timeline-element--experience .vertical-timeline-element-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    right: -13px;
    left: unset;
    height: 4rem;
    width: 4rem;
}

.vertical-timeline-element--experience:hover .experienceBox {
    border: 2px solid #846D62; /* Slightly lighter shade for hover */
    transform: translateY(-5px); /* Move up slightly */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); /* Increased shadow for hover */
}

.vertical-timeline-element--experience .vertical-timeline-element-date {
    font-weight: 500; /* Medium weight for date */
}

  

.vertical-timeline-element--experience .vertical-timeline-element-icon img {
    width: 2.5rem; /* Use auto to maintain the aspect ratio */
    height: 2.5rem;
    object-fit: contain; /* Set height to 100% of the parent container */
}



@media screen and (max-width:850px){
    #experience{
        min-width: 100%; /* Each section takes the full width of the container */
        max-width: 100%; /* Adjusts for a vertical layout */
    }
    .experienceBox {
        padding: 10px; /* Slightly reduce padding on small screens for more space */
    }

    .vertical-timeline-element--experience .vertical-timeline-element-content{
        padding: 15px;
        padding-bottom: 0;
    }
}
